#include <windows.h>
VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,1,1,0
PRODUCTVERSION  0,1,1,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // US English, Unicode
        BEGIN
            VALUE "CompanyName",      "KavunKabugu"
            VALUE "FileDescription",  "cc-game: 2D Rhythm Game"
            VALUE "FileVersion",      "0.1.1alpha"
            VALUE "InternalName",     "cc_game"
            VALUE "LegalCopyright",   "Copyright (C) 2026 KavunKabugu"
            VALUE "OriginalFilename", "cc_game.exe"
            VALUE "ProductName",      "cc-game"
            VALUE "ProductVersion",   "0.1.1alpha"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
